/* CSS files add styling rules to your content */
/* Viewport is set to control the size of the page on varying devices */
@viewport {
  width: device-width ;
  zoom: 1.0 ;
}
@-ms-viewport {
  width: device-width ;
}

/* The body is styled, this sets the basic rules for content in the body */
body {
 background-image: url(images/background.jpeg);
 background-repeat: no-repeat;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 margin: 0;
 padding: 0;
 font-size: 15px;
 font-family: 'Courier New', cursive;
}

/* Paragraphs and list items are styled to have spacing  */
p, li {
  font-size: 20px;
  font-weight: normal;
  padding-bottom: 2px;
}

/* The social media links are styled */
.icon {
  width: 40px;
}

/* The social media links are styled */
.sig {
  width: 300px;
}

/* The navigation menu */
.navbar {
 text-align: center;
 position: static;
 color: black;
 display: inline-block;
 float: left;
}

/* Navigation colour is set */
.nav-content {
   color: white;
}
/* Navigation links */
/* Add a background color to navigation links on hover */
.navbar a {
  color: black;
  font-size: 20px;
  text-decoration: none;
  text-shadow: 1px 1px 0 alpha(white,0.4);
  /*background-image: linear-gradient(to right, white 50%, cyan 50%);*/
  background-position: 0;
  background-size: 200%;
  transition: all 0.4s;
  display: block;
  margin: 20px;
}
.navbar a:hover {
    background-position: -100%;
}
/* Background nav colour */
.navbar1 {
  background-image: linear-gradient(to right, white 50%, cyan 50%);
}
.navbar2 {
  background-image: linear-gradient(to right, white 50%, yellow 50%);
}
.navbar3 {
  background-image: linear-gradient(to right, white 50%, magenta 50%);
}
.navbar4 {
  background-image: linear-gradient(to right, white 50%, lime 50%);
}

/* Headings are styled for use over multiple pages */
h1 {
  color: black;
  font-size: 30px;
  margin: 0;
}
h2 {
  color: black;
  font-size: 24px;
  margin: 0;
}
h3 {
  color: black;
  font-size: 20px;
  margin: 0;
}

/* Adobe XD files are styled to size correctly and prevent overlapping of grid items */
.desktop {
  width: 1092px;
  height: 633px;
  max-width: 100%;
}
.mobile {
  width: 288px;
  height: 624px;
  max-width: 100%;
}

/* CSS Grid  */
/* Grid areas are defined */
.head {
  grid-area: header;
}
.navbar {
  grid-area: menu;
}
.item3 {
  grid-area: main;
}
.item4 {
  grid-area: right;
}
/* Grid container is defined along with the layout/template */
.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header menu '
    'main main main right right'
    'main main main right right';
  grid-gap: 0;
  grid-template-columns: repeat(5, 1fr);
  margin-left: 5%;
  margin-top: 2%;
}
/* The divs inside each container are also styled */
.grid-container > div {
  background-color: white;
  text-align: left;
  padding: 20px 20px;
  font-size: 30px;
}
